<nav class="navbar navClass" data-bs-theme="dark" >
  <div class="container containerFlex">
    <div class="brand-div">
      <i routerLink="/" class="fa-sharp fa-solid fa-film fa-2xl" style="color: #FFC107; cursor:pointer;"  ></i>      
      
    </div>
    <div class="search-bar-div">
        <div class="input-group ">
          <input type="text" class="form-control search-bar" placeholder="Search..." aria-label="Search movie" id="search" name="search" (keyup)="handleKeyUp($event)" >
          <button class="btn btn-outline-secondary search-btn" type="button"  ><i class="fa-solid fa-magnifying-glass" style="color: #FFC107;"></i></button>
        </div>
        <div *ngIf="!isLoggedIn">
          <button class="btn btn-warning signup-btn" routerLink="/signup"> SignUp</button>
        </div>
        <div *ngIf="!isLoggedIn">
          <button class="btn btn-warning signup-btn" routerLink="/login"  > Login</button>
        </div>
        <div *ngIf="isLoggedIn" class="userName">
          <span>{{userDataModel.name}}</span>&nbsp;<span>{{userDataModel.lastname}}</span>
        </div>
        <div *ngIf="isLoggedIn">
          <button class="btn btn-warning signup-btn" (click)="logout()"> Logout</button>
        </div>
        
    </div>  
    
  </div>
</nav>
<div class="container containerClass">
    
  <router-outlet></router-outlet>
</div>