<nav class="navbar navClass" data-bs-theme="dark" >
  <div class="container containerFlex">
    <div class="brand-div">
      <a routerLink="/" class="navbar-brand brand">MovieApp</a>
    </div>
    <div class="search-bar-div">
        <div class="input-group ">
          <input type="text" class="form-control search-bar" placeholder="Search..." aria-label="Search movie" (keyup)="handleKeyUp($event)" >
          <button class="btn btn-outline-secondary search-btn" type="button"  >Search</button>
        </div>
        <div>
          <button class="btn btn-warning signup-btn" routerLink="/signup"> SignUp</button>
        </div>
        <div>
          <button class="btn btn-warning signup-btn" routerLink="/login"> Login</button>
        </div>
    </div>  
    
  </div>
</nav>
<div class="container containerClass">
    
  <router-outlet></router-outlet>
</div>