.search-bar{
    border: 1px solid #FFC107;
    color: white;
    background-color: rgb(15, 15, 15);
    border-radius: 0px;
}
.search-bar::placeholder { 
    color: white;
    opacity: 0.8; 
  }

.search-btn{
    border: 1px solid #FFC107;
    color: white;
    border-radius: 0px;

}
.containerClass{
    margin-top: 40px;
    padding: 20px 50px;
    /* background-color: aquamarine; */
}
.navClass{
    background-color: rgb(15, 15, 15);
    
}
.search-bar-div{
    display: flex;
    flex-direction: row;
}
.brand{
    /* color:#FFC107; */
    color: white;
}
.signup-btn{
    margin-left: 5px ;
    color: black;
}
.submit-button{
    width: 100%;
}
.userName{

    display: flex;
    align-items: center;
    margin: 0px 5px;
    color: white;
}
@media only screen and (max-width: 600px){
    .containerClass{
        padding: 20px 20px;
    }
}