<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4  g-3">
    <app-movie-card [defaultPath] = "defaultPath" *ngFor="let card of cards" [data]="card" ></app-movie-card>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <!-- <li *ngFor="let i = 0; i< pages; i++" class="page-item"><a class="page-link" href="#">1</a></li> -->
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
      

</div>
