<div class="container details-container">
    <div class="cover-image-div" >
        <div class="wrapper">
            <img src="{{defaultPath+images[currentIndex]}}" alt="" 
            class="cover-image">
            <div class="arrows">
                <div class="left">
                    <i class="fa-solid fa-arrow-left fa-2xl " 
                     (click)="previousImage()"></i>
                </div>
                <div class="right">
                    <i class="fa-solid fa-arrow-right fa-2xl "  
                    (click)="nextImage()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="info-div">
        <div class="movie-title">
            <div class="title">
                <h3>{{movieDetails.movieName}}</h3> ({{movieDetails.year}})
            </div>
            <div class="ratings-div" [ngClass]="{'alignment':!isUserLoggedIn}">
                <div [ngClass]="{'hide-user-rating':modalOpen}">
                    <i class="fa-brands fa-imdb fa-xl imdb-icon fs-2" style="color:#FFC107" ></i> {{movieDetails.imDbRating}}
                </div>
                <div [ngClass]="{'hide-user-rating':modalOpen}">
                    <span class="text">Users rating: </span> <i class="fas fa-star star-class" style="color:#FFC107" ></i>{{movieDetails.rating}}
                </div>
                <div *ngIf="isUserLoggedIn" [ngClass]="{'hide-user-rating':modalOpen}">
                    <span class="text">Your rating: </span> <i class="fas fa-star star-class" style="color: #1e67e6; cursor: pointer;" (click)="ratingPopUp($event)"></i><span *ngIf="rated===true">{{userRating}}</span>
                </div>

                <div class="ngb-rating-div" [ngClass]="{'rating-opened': modalOpen}">
                    <div class="closeModal-div" >
                      <button (click)="closeModal($event)" class="close-btn">x</button>
                    </div>
                    <div>
                      <ngb-rating class="ngb-rating" [max]="10" [formControl]="ratingControl"  (click)="getRatingFromForm($event,movieDetails.movieId)"></ngb-rating>   
                    </div>
                  </div>
            </div>
        </div>
        <div class="description-div">
            {{movieDetails.description}}
        </div>
        <div class="categories-div" >
            <div *ngFor="let category of movieDetails.categories">
                <button class="category-btn" routerLink="/category/{{category.categoryId}}">{{category.categoryName}}</button>
            </div>
        </div>
        <div class="row-div">
            <span>Director :</span> <span class="name" routerLink="/director/{{movieDetails.directorId}}">{{movieDetails.directorName}}</span>
        </div>
        <div class="row-div">
            <span>Stars :</span>
            <div *ngFor="let actor of movieDetails.actors">
                <span *ngIf="actor.star === true" class="name" routerLink="/actor/{{actor.actorId}}">
                    {{actor.actorName}} &middot;
                </span>
            </div>
        </div>
        <div class="row-div">
            <span>Cast :</span> 
            <div *ngFor="let actor of movieDetails.actors" class="actors-class">
                <span *ngIf="actor.star === false" class="name" routerLink="/actor/{{actor.actorId}}">
                    {{actor.actorName}} &middot;
                </span>
            </div>
        </div>
    </div>
</div>