
<!-- <div class="container detailsContainer">
    <div class="coverimage-div">
        <img class="cover-image" src="{{defaultPath+movieDetails.coverImage}}" alt="">
    </div>
    <div>
        
    </div>
    
</div> 
<div class="container detailsContainer">
    <div class="coverimage-div">
        <img class="cover-image" src="{{defaultPath+movieDetails.coverImage}}" alt="">
    </div>
    <div class="info-div"></div>
</div>-->
{{movieDetails|json}}
<br>
Director: 
<span> <button routerLink="/director/{{movieDetails.directorId}}">{{movieDetails.directorName}}</button></span>
Actors: 
<span *ngFor="let actor of movieDetails.actors">
    <button routerLink="/actor/{{actor.actorId}}">{{actor.actorName}}</button>
</span>
<br>
Genres: 
<span *ngFor="let category of movieDetails.categories">
    <button routerLink="/category/{{category.categoryId}}">{{category.categoryName}}</button>
</span>