.cardClass{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* border: 1px solid grey;
    border-radius: 6px; */
    height: 350px;
    position: relative;
}
.image-div{
    height: 250px;
}
.image{
    width: 100%;
    height: 100%;
    
}
.info-div{
   backdrop-filter: blur(4px);
   color:white;
   display: flex;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   min-height: 120px;
   
   flex-direction: column;
   
   padding: 10px 10px;
}
.title-div{
    display: flex;
    justify-content: space-between;
}
.description{
    font-size: 14px;
}
.bottom-div{
    display: flex;
    flex-direction: column;
}
.rating-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 5px;
}