
  <div class="cardClass" routerLink="/details/{{data.movieId}}" >
    <img class="image" src="{{defaultPath+data.coverImage}}" alt="">
    <div class="info-div">
      <div class="title-div">
        <h5 class="">{{data.movieName}}</h5>
        <span>({{data.year}}) </span> 
      </div>
      <div class="bottom-div">
        <div class="description-div">
          <span >
            {{data.description}}
          </span>
        </div>
        <div class="rating-div">
          <div class="iconDiv" [ngClass]="{'icon-div-closed':modalOpen}">
            <i class="fa-brands fa-imdb fa-xl imdb-icon"></i> {{data.imDbRating}}
        </div>
          <div *ngIf="isUserLoggedIn">
            <button  *ngIf="data.rating === 0" (click)="ratingPopUp($event)" class="rate-btn" [ngClass]="{'hide-button': modalOpen}"  >Rate</button>
            
            <i *ngIf="data.rating > 0" (click)="ratingPopUp($event)" class="fas fa-star user-rating" [ngClass]="{'hide-user-rating':modalOpen}"> {{data.rating}}</i>
          </div>
          <div class="ngb-rating-div" [ngClass]="{'rating-opened': modalOpen}">
            <div class="closeModal-div" >
              <button (click)="closeModal($event)" class="close-btn">x</button>
            </div>
            <div>
              <ngb-rating class="ngb-rating" [max]="10" [formControl]="ratingControl"  (click)="getRating($event,data.movieId)"></ngb-rating>   
            </div>
          </div>
        </div>
    </div>
  </div>