
  <div class="cardClass" routerLink="/details/{{data.movieId}}" >
    <img class="image" src="{{defaultPath+data.coverImage}}" alt="">
    <div class="info-div">
      <div class="title-div">
        <h5 class="">{{data.movieName}}</h5>
        <span>({{data.year}}) </span> 
      </div>
      <div class="bottom-div">
        <div class="description-div">
          <span >
            {{data.description}}
          </span>
        </div>
        <div class="rating-div">
          <div class="iconDiv" [ngClass]="{'icon-div-closed':modalOpen}">
            
            <i class="fa-brands fa-imdb fa-xl imdb-icon "> </i><span style="color:#FFC107;font-size: 18px; font-weight: 600; " >&nbsp;{{data.imDbRating}}</span> 
        </div>
          <div class="stars-div">
            
            <div>
              <i *ngIf="(avgRating > 0 )"  class="fas fa-star user-rating" [ngClass]="{'hide-user-rating':modalOpen}" >&nbsp;{{avgRating}}</i>
              <i *ngIf="ratedCheck" (click)="ratingPopUp($event)" class="fas fa-star" style="color: #1e67e6;" [ngClass]="{'hide-user-rating':modalOpen}">&nbsp;{{ratingResponse.ratingValue}}</i>
            </div>
            <div *ngIf="isUserLoggedIn">
              <!-- <button  *ngIf="ratedCheck === false " (click)="ratingPopUp($event)" class="rate-btn" [ngClass]="{'hide-button': modalOpen}"  >Rate</button> -->
              <i *ngIf="ratedCheck === false" (click)="ratingPopUp($event)" class="fas fa-star" style="color: #1e67e6;" [ngClass]="{'hide-user-rating':modalOpen}"></i>
              
            </div>
          </div>
          
          <div class="ngb-rating-div" [ngClass]="{'rating-opened': modalOpen}">
            <div class="closeModal-div" >
              <button (click)="closeModal($event)" class="close-btn">x</button>
            </div>
            <div>
              <ngb-rating class="ngb-rating" [max]="10" [formControl]="ratingControl"  (click)="getRating($event,data.movieId)"></ngb-rating>   
            </div>
          </div>
        </div>
    </div>
  </div>