.moviesContainerClass{
    display: flex;
    flex-direction: column;
}
.cards-container{
    width: 100%;
}
.pagination-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
/* .pager{
    color: black;
    
}
.pager-div{
    border: 1px solid black;
    border-radius: 5px;
} */
.select-container{
    padding: 5px;
    width: 300px;
}