.moviesContainerClass{
    display: flex;
    flex-direction: column;
    position: relative;
}
.cards-container{
    width: 100%;
    min-height: 720px;
}
.pagination-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
/* .pager{
    color: black;
    
}
.pager-div{
    border: 1px solid black;
    border-radius: 5px;
} */
.select-container{
    padding: 10px 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.select{
    background-color: black;
    color: white;
    max-width: 330px;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid#FFC107;
}
.select-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
}
.recommendtaion-btn{
    color: black;
    
}
.recommendation-modal{

    opacity: 0;
    pointer-events: none;
    background-color: white;
    position: absolute;
    top: 130px;
    bottom: 250px;
    right: 250px;
    left:250px;
    background: rgb(45,48,50);
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}

.recommendation-modal-active{
    display: relative;
    opacity: 1;
    pointer-events: auto;
}
.modalHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}
.close-modal-btn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.modalFooter{
    display: flex;
    justify-content: center;
}
.modalBody{
    display: flex;
    padding-top: 10px;
    cursor: pointer;
}
.card-body{
    
    display: flex;
    justify-content: center;
}
.close-btn{
    cursor: pointer;
}
.image-div{
    width: 180px;
}
.info-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.recommended-movie-image{
    width: 100%;
}
.title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    
}
.title:hover{
    color: #FFC107;
}
.ratings-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .recommendation-modal{
        opacity: 0;
        pointer-events: none; 
        background-color: white;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left:0px;
        background: rgb(45,48,50);
        color: white;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
    }
    .upper-div{
        display: flex;
    }
    .card-body{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .select-container{
        flex-direction: column;
        
    }
    .cards-container{
        padding: 0px 40px;
    }
    
}
@media only screen and (min-width: 600px) and (max-width:767px) {
    .recommendation-modal{
        opacity: 0;
        pointer-events: none; 
        background-color: white;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left:0px;
        background: rgb(45,48,50);
        color: white;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
    }
    .upper-div{
        display: flex;
    }
    .card-body{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .select-container{
        flex-direction: column;
        
    }
}
@media only screen and (min-width: 768px) and (max-width:991px){
    .recommendation-modal{
        opacity: 0;
        pointer-events: none; 
        background-color: white;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left:0px;
        margin: auto;
        background: rgb(45,48,50);
        color: white;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
    }
    .upper-div{
        display: flex;
    }
    .card-body{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .select-container{
        flex-direction: column;
    }
}