.moviesContainerClass{
    display: flex;
    flex-direction: column;
    position: relative;
   
}
.cards-container{
    width: 100%;
    min-height: 720px;
}
.pagination-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
/* .pager{
    color: black;
    
}
.pager-div{
    border: 1px solid black;
    border-radius: 5px;
} */
.select-container{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.select{
    background-color: black;
    color: white;
    max-width: 330px;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid#FFC107;
    
}
.select-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
}
.recommendtaion-btn{
    color: black;
    border-radius: 0px;
}
.recommendation-modal{

    opacity: 0;
    pointer-events: none;
    background-color: white;
    position: absolute;
    /* top: 130px;
    bottom: 250px;
    right: 250px;
    left:250px; */
    top: 15%;
    right: 20%;
    left: 20%;
    bottom: 27%;
    background: rgb(45,48,50);
    color: white;
    border: 1px solid #FFC107;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}
.sub-div{
    flex:1
}
.recommendation-modal-active{
    display: relative;
    opacity: 1;
    pointer-events: auto;
}
.modalHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}
.close-modal-btn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.modalFooter{
    display: flex;
    justify-content: center;
}
.modalBody{
    display: flex;
    padding-top: 10px;
    cursor: pointer;
}
.card-body{
    
    display: flex;
    justify-content: center;
}
.close-btn{
    cursor: pointer;
}
.image-div{
    width: 180px;
}
.info-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.recommended-movie-image{
    width: 100%;
}
.title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    
}
.title:hover{
    color: #FFC107;
}
.ratings-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 600;
}
@media only screen and (max-width: 427px) {
    
    .recommendation-modal-active{
        top:4%;
        left: 8%;
        right: 8%;
        max-height: 30%;
        justify-content: space-between;
    }
    .info-div{
        padding-top: 10px;
        padding-left: 0;
    }
    .image-div{
       width: 100%;
    }
    .upper-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .modalBody{
        flex-direction: column;
        flex: 1;
    }
    
    .card-body{
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        
    }
    .select-container{
        flex-direction: column;
        padding: 0px 30px;
        margin-bottom: 10px;
        
    }
    .select-div{
        display: flex;
        flex-direction: column;
    }
    .cards-container{
        padding: 0px 30px;
        
    }
    
    
}
@media screen and (min-width:428px) and (max-width:488px){
    .moviesContainerClass{
        width: 100%;
    }
    .recommendation-modal-active{
        top:4%;
        left: 8%;
        right: 8%;
        max-height: 100vh;
        justify-content: space-between;
    }
    
    .info-div{
        padding-top: 10px;
        padding-left: 0;
    }
    .image-div{
       width: 100%;
    }
    .upper-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .modalBody{
        flex-direction: column;
        flex: 1;
    }
    
    .card-body{
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        
    }
    .select-container{
        flex-direction: column;
        
        margin-bottom: 10px;
        padding: 0px 60px;
    }
    .select-div{
        display: flex;
        flex-direction: column;
       
    }
   
    .select{
        width: 100%;
    }
    .cards-container{
        padding: 0px 60px;
        
    }
    .sub-div{
        display: flex;
        width: 100%;
    }
}
@media only screen and (min-width:489px) and (max-width:599px){
    
    .moviesContainerClass{
        width: 100%;
    }
    .recommendation-modal-active{
        top:4%;
        left: 8%;
        right: 8%;
        max-height: 30%;
        justify-content: space-between;
    }
    .info-div{
        padding-top: 10px;
        padding-left: 0;
    }
    .image-div{
       width: 100%;
    }
    .upper-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .modalBody{
        flex-direction: column;
        flex: 1;
    }
    
    .card-body{
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        
    }
    .select-container{
        flex-direction: column;
        
        margin-bottom: 10px;
        padding: 0px 80px;
    }
    .select-div{
        display: flex;
        flex-direction: column;
       
    }
   
    .select{
        width: 100%;
    }
    .cards-container{
        padding: 0px 80px;
        overflow: auto;
    }
    .sub-div{
        display: flex;
        width: 100%;
    }
}
@media only screen and (min-width:529px) and (max-width:600px){

    .moviesContainerClass{
        width: 100%;
        overflow: auto;
    }
    .recommendation-modal-active{
        top:4%;
        left: 8%;
        right: 8%;
        max-height: 30%;
        justify-content: space-between;
    }
    .info-div{
        padding-top: 10px;
        padding-left: 0;
    }
    .image-div{
       width: 100%;
    }
    .upper-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .modalBody{
        flex-direction: column;
        flex: 1;
    }
    
    .card-body{
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        
    }
    .select-container{
        flex-direction: column;
        
        margin-bottom: 10px;
        padding: 0px 100px;
    }
    .select-div{
        display: flex;
        flex-direction: column;
       
    }
   
    .select{
        width: 100%;
    }
    .cards-container{
        padding: 0px 100px;
        overflow: auto;
    }
    .sub-div{
        display: flex;
        width: 100%;
    }
}
@media only screen and (min-width:601px) and (max-width:767px){
    .moviesContainerClass{
        width: 100%;
        
    }
    .recommendation-modal-active{
        top:4%;
        left: 8%;
        right: 8%;
        max-height: 30%;
        justify-content: space-between;
    }
    .info-div{
        padding-top: 10px;
        padding-left: 0;
    }
    .image-div{
       width: 100%;
    }
    .upper-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .modalBody{
        flex-direction: column;
        flex: 1;
    }
    
    .card-body{
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        
    }
    .select-container{
        flex-direction: column;
        margin-bottom: 10px;
        padding: 0px 55px;
    }
    .select-div{
        display: flex;
        flex-direction: column;
    }
    .select{
        width: 100%;
    }
    .cards-container{
        padding: 0px 55px;
        overflow: auto;
    }
    .sub-div{
        display: flex;
        width: 100%;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    
    .recommendation-modal{
        top: 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .upper-div{
        display: flex;
        flex-direction: column;
    }
    .modalBody{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .image-div{
        width: 100%;
    }
    
    

}
@media only screen and (min-width:992px) and (max-width:1200px) {
    .recommendation-modal{
        top: 10%;
        bottom: 45%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
}

