.form-container{
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    color: white;
    align-items: center;
}
.form-class{
    width: 75%;
}
.submit-div{
    display: flex;
    padding-top: 20px;
}
.form-controll-class{
    border-radius: 0px;
}
.submit-button{
    flex: 1;
    border-radius: 0px;
    border:none;
    background-color:#FFC107;
    color:  rgb(45,48,50);
    font-weight: 600;
    padding: 8px 0px;
}
.input.ng-invalid.ng-touched{
    border: 1px solid red;
}
small{
    color: red;
}
@media only screen and (max-width: 600px){
    .form-container{
        padding: 50px 0px;

    }
}
@media only screen and (min-width: 600px) and (max-width:767px){
    .form-container{
        padding: 50px 20px;

    }
}
@media only screen and (min-width: 768px) and (max-width:991px){
    .form-container{
        padding: 50px 40px;
    }
}
@media only screen and (min-width: 992px)  and (max-width:1199px){
    .form-container{
        padding: 50px 180px ;
    }
}
@media only screen and (min-width: 1200px){
    .form-container{
        padding: 50px 280px ;
    }
}